<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.milkyway">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Milkyway">
        <activity android:name=".Complaint"></activity>
        <activity android:name=".Signup_Customer" />
        <activity android:name=".dropdownmenu" />
        <activity android:name=".Payment" />
        <activity android:name=".shipping_address" />
        <activity android:name=".DBupdate" />
        <activity android:name=".total_db" />
        <activity android:name=".profile_db" />
        <activity android:name=".complete_db" />
        <activity android:name=".deliveryboy_dash" />
        <activity android:name=".retailerupdate" />
        <activity android:name=".Additem" />
        <activity android:name=".profileretailer" />
        <activity android:name=".orderretailer" />
        <activity android:name=".RetailerHome" />
        <activity android:name=".buttermilk_cart" />
        <activity android:name=".dahi_cart" />
        <activity android:name=".cheese_cart" />
        <activity android:name=".paneer_cart" />
        <activity android:name=".butter_cart" />
        <activity android:name=".userupdate" />
        <activity android:name=".CartActivity" />
        <activity android:name=".milk_cart" />
        <activity android:name=".profile" />
        <activity android:name=".order" />
        <activity android:name=".CustomerHome" />
        <activity android:name=".demohome" />
        <activity android:name=".Signup_DeliveryBoy" />
        <activity android:name=".Signup_Retailer" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>